<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burndown Chart</title>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--Cabeçalho-->
    <div class="alinha">
        <!--Cabeçalho-->
        <header class="container--header">
            <!--LOGO-->
            <a href="/" class="logo">Scrum</a>

            <!--LINKS-->
            <a href="/estruturatime">Estrutura do time</a>

            <!--MENU DROPDOWN-->
            <div class="dropdown">
                <div class="dropbtn">Artefatos</div>
                <div class="dropdown-content">
                    <a href="/product_backlog">Product Backlog</a>
                    <a href="/process_backlog">Process Backlog</a>
                    <a href="/sprintplanning">Sprint Planning</a>
                    <a href="/dailyscrum">Daily Scrum</a>
                    <a href="/planningpoker">Planning Poker</a>
                    <a href="/sprint_retrospective">Sprint Retrospective</a>
                    <a href="/burndownchart">Burndown Chart</a>
                </div>
            </div>

            <a href="/atividadepratica">Atividade</a>

        </header><br><br><br>

    <main>
        <div class="container--imghome">
            <img src="../static/img/oqbdchart.png" style="max-width: 70%;">
        </div>

    <div class="container--txthome">
        <p>
            <ul>
                O Burndown Chart não é uma invenção dos métodos ágeis, ele é uma ferramenta popular para acompanhamento da diminuição de um recurso ou métrica ao longo do tempo.
                No contexto de projetos, um Gráfico de Burndown te mostra a relação de trabalho a ser realizado versus o tempo que você possui para fazê-lo. Ele pode ser tão macro a ponto de englobar todo o ciclo de desenvolvimento de uma release do produto (chamado neste caso de Release Burndown) ou tão micro a ponto de englobar apenas o trabalho de uma pessoa, sendo incomum este uso, mas é possível para metas pessoais.
            </ul>
        </p>
        </div>

        <div class="container--imghome">
            <img src="../static/img/comobdchart.png" style="max-width: 70%;">
        </div>
        
        <div class="container--txthome">
        <p>
            <ol>
                <b>Para sua criação podemos dividir por passos.</b><br><br><br>
                <b>Passo 1: Defina o Escopo do Projeto</b><br>
                <li>Comece identificando todas as tarefas ou histórias de usuário que fazem parte do seu projeto. Isso deve ser uma lista completa e detalhada do trabalho a ser feito.</li><br>
                <b>Passo 2: Estime o Trabalho</b><br>
                <li>Estime a quantidade de esforço necessário para concluir cada tarefa. Isso pode ser feito usando pontos de história, horas de trabalho ou outra unidade de medida que faça sentido para a sua equipe.</li><br>
                <b>Passo 3: Determine o Período de Tempo</b><br>
                <li>Defina o período de tempo durante o qual você deseja criar o Burn Down Chart. Isso pode ser em dias, semanas ou sprints, dependendo da duração do seu projeto.</li><br>
                <b>Passo 4: Crie um Eixo X (Tempo) e um Eixo Y (Trabalho Restante)</b><br>
                <li>Desenhe um gráfico com um eixo X representando o tempo e um eixo Y representando o trabalho restante. O eixo X deve ser marcado com unidades de tempo relevantes (por exemplo, dias ou semanas), e o eixo Y deve ser marcado com unidades de trabalho (por exemplo, pontos de história ou horas).</li><br>
                <b>Passo 5: Registre os Dados</b><br>
                <li>Para cada ponto de tempo no eixo X, registre a quantidade total de trabalho que deve ser feita (isso é a soma das estimativas de todas as tarefas). Isso será o ponto de partida no gráfico.
                </li><br>
                <b>Passo 6: Atualize o Gráfico Diariamente</b><br>
                <li>À medida que o projeto avança, atualize o gráfico diariamente. Para cada ponto de tempo, subtraia o trabalho já concluído da quantidade total de trabalho estimada para esse período. Isso lhe dará o trabalho restante.</li><br>
                <b>Passo 7: Trace a Linha de Tendência</b><br>
                <li>Conecte os pontos de trabalho restante no gráfico com uma linha. Essa linha de tendência mostrará se a equipe está no caminho certo para concluir o projeto dentro do prazo. A inclinação da linha pode indicar se a equipe está se movendo mais rápido ou mais devagar do que o planejado.</li><br>
                <b>Passo 8: Acompanhe o Progresso</b><br>
                <li>Use o Burn Down Chart como uma ferramenta de acompanhamento contínuo do progresso do projeto. Se a linha de tendência estiver abaixo do planejado, a equipe está indo bem. Se estiver acima, a equipe está atrasada.</li><br>
                <b>Passo 9: Faça Ajustes</b><br>
                <li>Com base nas informações do Burn Down Chart, faça ajustes no plano do projeto, como alocar mais recursos ou reavaliar prioridades, se necessário.</li><br>
             
</p>
    </div>

    <!--Gambiarra pra dar espaço-->
    <br><br>
    <!--rodapé-->
    <div class="container--imghome">
        <img src="../static/img/End-Line-Text.png">

    </div>
    <div class="rodape"></div>
    </main>
</body>
</html>
