<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" />
    <!-- o arquivo style-edt é um rascunho -->
    <link href="../static/css/style-edt.css" rel="stylesheet" />
    <title>O que é Process Backlog?</title>
</head>

<body>

    <div class="alinha">

        <!--Cabeçalho-->
        <header class="container--header">
            <!--LOGO-->
            <div>
                <a href="/">
                    <div class="logo"> Scrum</div>
                </a>
            </div>

            <!--LINKS-->
            <div>
                <a href="/estruturatime">Estrutura do time</a>
            </div>

            <!--MENU DROPDOWN-->
            <div class="dropdown">
                <div class="dropbtn">Artefatos</div>
                <div class="dropdown-content">
                    <a href="/product_backlog">Product Backlog</a>
                    <a href="/process_backlog">Process Backlog</a>
                    <a href="/sprintplanning">Sprint Planning</a>
                    <a href="/dailyscrum">Daily Scrum</a>
                    <a href="/planningpoker">Planning Poker</a>
                    <a href="/sprint_retrospective">Sprint Retrospective</a>
                    <a href="/burndownchart">Burndown Chart</a>
                </div>
            </div>

            <a href="/atividadepratica">Atividade</a>

        </header>
        
        <main>

            <header class="title-bar">
                <h1 class="title-bar-text">O que é Process Backlog?</h1>
            </header>

            <article class="container-txt-process-bl-1">

                <p class="content-l1">
                    O Process Backlog é extremamente similar ao Product Backlog, sua única diferença é que, ao invés de
                    descrever as funcionalidades do produto,ele descreve os meios que o time usa para fazer essas
                    funcionalidades se tornarem realidade. Seja aprendendo algo que seja necessário para tornar o projeto
                    realidade, aplicativos e metódos utilizados e quem estará aplicando essas funções. O processo de
                    montagem dele é o mesmo também, baseado na comunicação entre PO e Scrum Team, para que seja apurado o
                    que é necessário ser feito e estudado.
                </p>

            </article>

            <header class="title-bar">
                <h1 class="title-bar-text">Práticas para manter o Backlog eficiente:</h1>
            </header>

            <article class="container-txt-process-bl-1">

                <ol class="content-l1">
                    <li>
                        Mantenha o backlog atualizado por meio da comunicação com o seu time;
                    </li>
                    <li>
                        Comunicação constante e transparente;
                    </li>
                    <li>
                        Se adadpte de acordo com os problemas vistos na sprint review.
                    </li>
                </ol>

            </article>

            <header class="title-bar">
                <h1 class="title-bar-text">Exemplo prático</h1>
            </header>

            <article class="container-txt-process-bl-1">

                <ol class="content-l1">
                    <li>
                        Não existe nenhum exemplo prático ainda (...);
                    </li>
                    <li>
                        Não existe nenhum exemplo prático ainda (...);
                    </li>
                    <li>
                        Não existe nenhum exemplo prático ainda (...).
                    </li>
                </ol>

            </article>

            <figure class="container--imghome">
                <img src="../static/img/End-Line-Text.png">
            </figure>

        </main>

        <!--rodapé-->
        <footer></footer>

    </div>

</body>

</html>