<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Planning</title>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--Cabeçalho-->
    <div class="alinha">
        <!--Cabeçalho-->
        <header class="container--header">
            <!--LOGO-->
            <a href="/" class="logo">Scrum</a>
            <!--LINKS-->
            <a href="/estruturatime">Estrutura do time</a>

            <!--MENU DROPDOWN-->
            <div class="dropdown">
                <div class="dropbtn">Artefatos</div>
                <div class="dropdown-content">
                    <a href="/product_backlog">Product Backlog</a>
                    <a href="/process_backlog">Process Backlog</a>
                    <a href="/sprintplanning">Sprint Planning</a>
                    <a href="/dailyscrum">Daily Scrum</a>
                    <a href="/planningpoker">Planning Poker</a>
                    <a href="/sprint_retrospective">Sprint Retrospective</a>
                    <a href="/burndownchart">Burndown Chart</a>
                </div>
            </div>

            <a href="/atividadepratica">Atividade</a>

        </header><br><br><br>

    <main>
        <div class="container--imghome">
            <img src="../static/img/sprintplanning.png" style="max-width: 70%;">
        </div>

    <div class="container--txthome">
        <p>
            <ul>
            O sprint planning é um evento do scrum que consiste no planejamento de como será feita a proxima sprint baseado nas coisas discutidas no Product Backlog. Ele tem como meta alinhar o Scrum Team com a visão do Product Owner, determinando um tempo para que sejam feitas tarefas definidas pelo Backlog.
            Essas são reuniões curtas de no máximo duas horas por semana, em que são discutidos 2 pontos principais:<br><br>
            
            <li>O que fazer: O PO traçará as metas a serem cumpridas criando o Sprint Backlog, que se resume em tarefas do backlog que devem ser feitas nesta sprint.</li><br>
            
            <li>Como fazer: O Scrum Team planeja como serão realizadas essas tarefas e qual será o resultado esperado delas, além do possivel tempo que será gasto em cada tarefa. Lembre-se o tempo no scrum é sempre relativo, as estivativas não são e não tem que ser precisas, mantenha a comunicação ativa e altere caso necessário.</li>
            </ul>
        </p>
        </div>

        <div class="container--imghome">
            <img src="../static/img/planningeficiente.png" style="max-width: 70%;">
        </div>
        
        <div class="container--txthome">
        <p>
            <ol>
            <li>Planejar com antecedencia demais gera disperdicio, 30% de um projeto é alterado até o final de seu desenvolvimento, talvez algo pensado muito para o futuro tenha que ser mudado, planeje apenas o necessário para esta sprint.</li><br>
            <li>Mantenha o processo colaborativo, evitando que apenas uma pessoa tome decisões sobre o projeto e suas tecnicalidades, assim evitando que sejam criadas tarefas impossíveis ou ,do lado oposto, tarefas desnecessárias.</li><br>
            <li>Uma maneira fácil de visualizar a meta da Sprint é por meio das "histórias de usuario", uma tecnica em que o time se coloca na posição de um usuário comum de seu produto, deixando claro o resultado que se busca. Por exemplo, "Eu como (usuário X), quero uma (função Y) por (motivo Z). Assim podendo medir o progesso do time com clareza com base nos problemas estabelecidos, esta clareza mantem a equipe focada e facilita o desenvolvimento do projeto, já que o objetivo se torna mais palpavel e transparente.</li>
</ol>
</p>
    </div>

    <!--Gambiarra pra dar espaço-->
    <br><br>
    <!--rodapé-->
    <div class="container--imghome">
        <img src="../static/img/End-Line-Text.png">

    </div>
    <div class="rodape"></div>
    </main>
</body>
</html>
