<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Planning</title>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" />
</head>

<body>
    <!--Cabeçalho-->
    <div class="alinha">
        <!--Cabeçalho-->
        <header class="container--header">
            <!--LOGO-->
            <a href="/" class="logo">Scrum</a>
            <!--LINKS-->
            <a href="/estruturatime">Estrutura do time</a>

            <!--MENU DROPDOWN-->
            <div class="dropdown">
                <div class="dropbtn">Artefatos</div>
                <div class="dropdown-content">
                    <a href="/product_backlog">Product Backlog</a>
                    <a href="/product_backlog">Product Backlog</a>
                    <a href="/process_backlog">Process Backlog</a>
                    <a href="/sprintplanning">Sprint Planning</a>
                    <a href="/dailyscrum">Daily Scrum</a>
                    <a href="/planningpoker">Planning Poker</a>
                    <a href="/sprint_retrospective">Sprint Retrospective</a>
                    <a href="/burndownchart">Burndown Chart</a>
                    <a href="/formulario">Formulário Pacer</a>
                </div>
            </div>

            <a href="/atividadepratica">Atividade</a>

        </header><br><br><br>

        <main>
            <div class="container--imghome">
                <img src="../static/img/daiyle.png" style="max-width: 70%;">
            </div>

            <div class="container--txthome">
                <p>
                <ul>
                    São reuniões realizadas diariamente, dando a cada membro da equipe um tempo para colocar os
                    principais atributos. Aqui informamos a toda a equipe o status da tarefa que foi atribuída ao
                    membro, se está tendo dificuldade ou se há alguma ideia a acrescentar.<br><br>

                </ul>
                </p>
            </div>

            <div class="container--imghome">
                <img src="../static/img/daily.png" style="max-width: 70%;">
            </div>

            <div class="container--txthome">
            <p>
                <ol>                
                <li>O ideal é que ela aconteça logo pela manhã. Além disso, o tempo de duração de uma Daily Scrum
                deve ser de 15 minutos ou menos.</li><br>
                <li>A Daily Scrum é feita para que os executores do trabalho se auto-organizem. Em geral, isso significa
                a participação obrigatória dos desenvolvedores.</li><br>
                <li>É interessante definir o local onde a Daily será realizada. Inclusive, é uma prática comum que essas
                reuniões sejam sempre feitas no mesmo local e horário. Isso ajuda o time a ganhar uma cadência, ter
                uma disciplina de execução.</li><br>
                <li>Quando surge algum assunto técnico específico de um ou dois membros do time, deve-se informar e
                tratar desse assunto no pós-daily, ou seja, após a reunião. Para que, assim, não atrase a execução
                do encontro.</li><br>
                </ol>
                </p>
            </div>

            <figure class="container--imghome">
                <img src="../static/img/End-Line-Text.png">
            </figure>

           
            <div class="rodape">
                

            </div>

        </main>
</body>

</html>