{% extends "base.html" %}




{% block content %}
<div class="container" >
    
    <div class="barra">Como o time é estruturado?</div>


<br><br>
    <div class="container--txthome">

        <h4 style="justify-self: start;"> Product Owner</h4>

        <ul style="justify-self: end;padding-left:100px;">
            <li> Responsável por cuidar do Product Backlog</li><br><br>
            <li>Analisar onde o time precisa chegar para atingir o objetivo do cliente</li><br><br>
            <li>Criar requisitos para entregar o produto, de acordo com o que foi solicitado pelo cliente</li>
            <br><br>
            <li>Priorizar os requisitos, por ordem de prioridades e necessidades, para gerar o maior valor, no
                menor tempo possível, e com maior retorno com relação ao investimento</li>
            <li>Apresentar os requisitos para o Scrum Team</li><br><br>
            <li>Após a realização da Sprint Retrospctive, analisar e refinar o Product Backlog, para a próxima
                Sprint.</li><br><br>

        </ul>
        <h4 style="justify-self: start;"> Scrum Master</h4>
        <ul style="justify-self: end;padding-left:100px;">
            <li>Ajudar o Product Owner e os Scrum Team, na execução do projeto, através de técnicas que ajudam a
                facilitar a entrega do projeto.</li><br><br>

            <li>Necessita possuir completo domínio sob o Scrum e como aplica-lo.</li><br><br>

            <li>Acompanhamento e Métricas: O Scrum Master auxilia a equipe na definição e acompanhamento de
                métricas relevantes para medir o progresso e a qualidade do trabalho.</li><br><br>

            <li>Promoção da Transparência: Ele promove a transparência em todas as atividades do Scrum, ajudando
                a equipe a comunicar seu progresso e desafios de forma clara para os stakeholders.</li><br><br>

        </ul>
        <h4 style="justify-self: start;">Dev Team</h4>
        <ul style="justify-self: end;padding-left:100px;">
            <li>Após a apresentação dos requisitos feitos pelo Product Owner, o Scrum Team realiza um debate
                entre eles para chegar em um consenso sobre o que é possível ser realizado na próxima sprint;
            </li><br><br>

            <li>Depois da Sprint Planning, inicia-se o desenvolvimento da sprint, onde o time trabalhará em
                colaboração com Product Owner e o Scrum Master no desenvolvimento das funcionalidades na
                construção do produto;</li><br><br>

            <li>Ao longo da sprint, a cada 24 horas, é realizada uma daily scrum, para garantir que está fluindo
                o desenvolvimento do produto, e se alguém precisa de ajuda;</li><br><br>
            <li>Perguntas que ajudam na daily scrum: “O que foi feito ontem?” , “O que será feito hoje?”
                e Tem algo me impedindo de seguir em frente?”;</li><br><br>
            <li>Caso exista algum impedimento, o time deverá acionar o Product Owner, ou o Scrum Master, para ajudar no esclarecimento do possível impedimento;</li><br><br>
            
            <li>Após a primeira sprint, entregar o MVP;</li><br><br>
            
            <li>Ao término de cada sprint realizar a Sprint Review</li><br><br>
            <li> Depois da Sprint Review, realizar Sprint Planning.</li><br><br>
            <!-- <li></li><br><br> -->

        </ul>


    </div>

</div>
{% endblock %}