<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" />
    <title>Home</title>

</head>

<body>
    <div class="alinha">
        <!--Cabeçalho-->
        <header class="container--header">
            <!--LOGO-->
            <a href="/" class="logo">Scrum</a>

                <!--LINKS-->
                <a href="/estruturatime">Estrutura do time</a>
    
                <!--MENU DROPDOWN-->
                <div class="dropdown">
                    <div class="dropbtn">Artefatos</div>
                    <div class="dropdown-content">
                        <a href="/product_backlog">Product Backlog</a>
                        <a href="/process_backlog">Process Backlog</a>
                        <a href="/sprintplanning">Sprint Planning</a>
                        <a href="/dailyscrum">Daily Scrum</a>
                        <a href="/planningpoker">Planning Poker</a>
                        <a href="/sprint_retrospective">Sprint Retrospective</a>
                        <a href="/burndownchart">Burndown Chart</a>
                        <a href="/formulario">Formulário Pacer</a>
                    </div>
                </div>
    
                <a href="/atividadepratica">Atividade</a>
    
            </header>

        <!-- Container alinhando as imagens-->
        <div class="container--imghome">

            <!--Barra vermelha que fica em cima do texto-->
            <div class="barra">Formulário Pacer</div>
        <img src="../static/img/avatar2.png" alt="">
        <p>Funcionário Avaliado</p>

        <div class="barra">Comunicação</div>
        

        
        <div class="container--form">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio0" value="option0">
            <label class="form-check-label" for="inlineRadio1">0 (Não Comunicativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1 (Pouco Comunicativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2 (Comunicativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3 (Muito Comunicativo)</label>
          </div>
        
        </div>
        
        <div class="barra">Proatividade</div>
        

        
        <div class="container--form">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio0" value="option0">
            <label class="form-check-label" for="inlineRadio1">0 (Não Proativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1 (Pouco Proativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2 (Proativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3 (Muito Proativo)</label>
          </div>
        
        </div>
        <div class="barra">Colaboração</div>
        

        
        <div class="container--form">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio0" value="option0">
            <label class="form-check-label" for="inlineRadio1">0 (Não Colaborativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1 (Pouco Colaborativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2 (Colaborativo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3 (Muito Colaborativo)</label>
          </div>
        
        </div>
        <div class="barra">Autonomia</div>
        

        
        <div class="container--form">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio0" value="option0">
            <label class="form-check-label" for="inlineRadio1">0 (Muito Dependente) </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1 (Dependente) </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2 (Autônomo)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions4" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3 (Muito autônomo)</label>
          </div>
        
        </div>
        <div class="barra">Entrega de Resultados</div>
        

        
        <div class="container--form">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio0" value="option0">
            <label class="form-check-label" for="inlineRadio1">0 (Sem Entregas)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1 (Entregas Ruins)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2 (Entregas Boas)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3 (Entregas Perfeitas)</label>
          </div>
        
        </div>
        <a href="/formulario"><button>Enviar</button></a>
        
    

            <img src="../static/img/End-Line-Text.png">

        </div>

        <!--Gambiarra pra dar espaço-->
        <br><br><br><br>
        <!--rodapé-->
        <div class="rodape"></div>


    </div>



</body>


</html>