{% extends "base.html" %}




{% block content %}

<div class="container" >
    <img class="ratio ratio-21x9" src="../static/images/imghome.png" style="padding-bottom: 20px;">
    <div class="barra">O que é scrum?</div>
<br>
<br>
    <p class="container--txthome">Scrum é um dos mais populares e amplamente adotados frameworks de gerenciamento de projetos ágeis.
        Desenvolvido inicialmente para a gestão de projetos de desenvolvimento de software, o Scrum tem sido
        adotado em diversas outras áreas, incluindo marketing, manufatura e até mesmo educação. Este framework
        se baseia em princípios fundamentais de transparência, inspeção e adaptação, e é projetado para lidar
        com projetos complexos e em constante evolução.<br><br>

        No Scrum, o trabalho é organizado em ciclos curtos e bem definidos chamados de "sprints", que geralmente
        têm duração de duas a quatro semanas. Durante cada sprint, uma equipe multifuncional trabalha para criar
        um incremento de produto que seja potencialmente entregável. O Scrum promove a colaboração, a
        auto-organização da equipe e a comunicação frequente para garantir que o projeto esteja alinhado com as
        necessidades do cliente e seja entregue de maneira eficiente.<br><br>

        O Scrum é composto por papéis bem definidos, como Scrum Master, Product Owner e Equipe de
        Desenvolvimento, além de artefatos como o Backlog do Produto e o Backlog da Sprint, e cerimônias como a
        Reunião de Planejamento da Sprint e a Reunião de Revisão da Sprint. Esses elementos trabalham juntos
        para proporcionar uma estrutura flexível e adaptável que ajuda as equipes a responder rapidamente às
        mudanças de requisitos e a entregar valor de maneira consistente aos stakeholders.</p>
</div>

{% endblock %}