{% extends "base.html" %}




{% block content %}
<div class="container" >
    <div class="barra">O que é PACER?</div>
    <br>
    <br>
    <div class="container--txthome">
        <p>
            O Formulário Pacer é uma ferramenta de avaliação interna do grupo que permite um feedback constante dos membros de uma equipe com relação aos principais pilares do método Scrum.<br><br>

            Consiste de uma avaliação que é feita individualmente por cada membro do grupo, onde é dada uma nota de 0 a 3 de acordo com os critérios Comunicação, Proatividade, Colaboração, Autonomia e Entrega de Resultados. Com base nas notas fornecidas por cada membro do grupo é feito a moda e essa se torna a nota deste individuo em cada categoria.<br><br>
        </p>
    </div>

    <div class="barra">Critérios PACER</div>
    <br>
    <br>
    <div class="container--txthome">
        <p> 
            Comunicação avalia o quão bem e o quanto o funcionário se comunica com sua equipe, do 0 sendo um membro completamente não comunicativo ao 3 que é um membro que se comunica de maneira satisfatória e com grande frequência, sempre deixando claro no que está trabalhando, suas dificuldades e tarefas finalizadas.<br><br>

            Proatividade avalia o quanto o funcionário mantém sua proatividade ao longo do projeto, do 0 sendo um membro que só inicia uma atividade quando é ordenado e após finalizar a sua atividade não busca novas, ao 3 sendo um membro que sempre está fazendo uma atividade ou auxiliando alguém no seu desenvolvimento, pegando novas tarefas assim que possível.<br><br>


            Colaboração avalia o quanto o usuário colaborou para a entrega do produto final durante a sprint, sendo 0 alguém que não entregou nada, ou nada de valor, ao longo de uma sprint, ao 3 sendo um funcionário que fez várias ou entregas extremamente importantes para a funcionalidade do projeto.<br><br>

            Autonomia avalia o quanto o funcionário precisa ser guiado ao fazer suas tarefas, sendo 0 alguém que precisa de ajuda ou supervisão ao fazer todas as suas tarefas, não conseguindo realiza-las sozinho, ao 3 que seria um funcionário que consegue fazer entregas e finalizar suas tarefas sem assistência de outros membros do grupo, sendo mais eficiente.<br><br>

            Entrega de Resultados avalia o quão boas foram as entregas realizadas pelo funcionário de acordo com o número de alterações que foram necessárias ao código entregue originalmente, sendo 0 alguém que faz entregas falhas constantemente ao 3 sendo alguém que faz entregas perfeitas que muito raramente precisam ser corrigidas.<br><br>
            </p>
    </div>

</div>
{% endblock %}