{% extends "base.html" %}




{% block content %}
<div class="container" >
    
    <div class="barra">O que é Process Backlog?</div>
<br>
<br>
    <div class="container--txthome">
    <p>O Process Backlog é extremamente similar ao Product Backlog, sua única diferença é que, ao invés de
        descrever as funcionalidades do produto,ele descreve os meios que o time usa para fazer essas
        funcionalidades se tornarem realidade. Seja aprendendo algo que seja necessário para tornar o projeto
        realidade, aplicativos e metódos utilizados e quem estará aplicando essas funções. O processo de
        montagem dele é o mesmo também, baseado na comunicação entre PO e Scrum Team, para que seja apurado o
        que é necessário ser feito e estudado.</p>
    </div>

    <br><br>
    <div class="barra">Mantendo o backlog eficiente:</div><br><br>
    <div class="container--txthome">
    <p><ol>
        <li> Mantenha o backlog atualizado por meio da comunicação com o seu time.</li>
        <li> Comunicação constante e transparente </li>
        <li> Se adapte de acordo com os problemas vistos na sprint review. </li>
        </ol></p>
    </div>
    <br><br>
    <div class="barra">Exemplo prático:</div><br><br>
    <div class="container--txthome">
        <ol>
            <li>Falar com o Cliente</li>
            <li>Determinar o que ele quer que seja feito e o produto a ser entregue.</li>
            <li>Criar uma lista de funcionalidades a serem implementadas.</li>
            <li>Organizar esta lista em ordem de prioridade.</li>
            <li>Manter comunicação constante com o cliente.</li>
            <li>Confirmar se o que foi feito está correto e fazendo mudanças caso necessário.</li>
            <li>Com base nessas tarefas serão formulados os sprint backlogs.</li>
        </ol>
    </div>


</div>
{% endblock %}