<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Retrospective</title>
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet" />
</head>
<body>
    <!--Cabeçalho-->
    <div class="alinha">
        <!--Cabeçalho-->
        <header class="container--header">
            <!--LOGO-->
            <a href="/" class="logo">Scrum</a>
            <!--LINKS-->
            <a href="/estruturatime">Estrutura do time</a>
    
            <!--MENU DROPDOWN-->
            <div class="dropdown">
                <div class="dropbtn">Artefatos</div>
                <div class="dropdown-content">
                    <a href="/product_backlog">Product Backlog</a>
                    <a href="/process_backlog">Process Backlog</a>
                    <a href="/sprintplanning">Sprint Planning</a>
                    <a href="/dailyscrum">Daily Scrum</a>
                    <a href="/planningpoker">Planning Poker</a>
                    <a href="/sprint_retrospective">Sprint Retrospective</a>
                    <a href="/burndownchart">Burndown Chart</a>
                    <a href="/formulario">Formulário Pacer</a>
                
                </div>
            </div>

            <a href="/atividadepratica">Atividade</a>

        </header><br><br><br>

    <main>
        <div class="container--imghome">
            <img src="../static/img/sprintretrospective.png.png" style="max-width: 70%;">
        </div><br><br>

        <div class="container--txthome">
            <p>A Sprint Retrospective é o evento que procede ao fim de um ciclo de desenvolvimento de um produto na Scrum, esse é o momento de analisar, avaliar e repensar a maneira que foi desenvolvido a Sprint como um todo, melhorando e criando um novo plano de ação para a próxima Sprint. Sendo seu evento um dos pilares presentes na qualidade presente na melhoria contínua, deve estar presente todos os integrantes do grupo, sua “timebox”, ou seja, seu tempo máximo é de 3 horas, dentro disso, são discutidos 3 temas principais.<br><br>
            Os temas são: Pessoas e o relacionamento presente entre elas as ferramentas de trabalho a qual o time tem utilizado no dia a dia e o processo de trabalho, não existindo uma ordem para ser feita a discussão.<br><br>
            </p>
        </div>

        <div class="container--imghome">
            <img src="../static/img/modeloretrospective.png.png" style="max-width: 70%;">
        </div><br>

        <div class="container--txthome">
           <p>
                <ol>
                    <li>Agende a reunião: Defina uma data e horário que funcione para a equipe e dê tempo suficiente
                        para a preparação.</li><br>
                    <li>Prepare a sala e as ferramentas:<br>
                        <ul>
                            <li> Escolha um local adequado para a reunião, onde todos possam se sentar confortavelmente.</li>
                            <li>Prepare um quadro branco, flip chart ou ferramentas digitais para anotações.</li>
                            <li>Certifique-se de que todos os membros da equipe estejam familiarizados com as métricas
                                da sprint, como a velocidade da equipe e o burndown chart.</li>
                        </ul>
                    </li>
                        <br>
                    <li>Convide a equipe:

                        Envie um convite com a data, hora e local da reunião para todos os membros da equipe e outros
                        interessados.</li><br>

                    <li>Conduza a reunião da Sprint Retrospective:
                        <ul>
                            <li> Explique o propósito da retrospectiva: avaliar o que deu certo, o que deu errado e o que pode ser melhorado.</li>
                            <li>Prepare um quadro branco, flip chart ou ferramentas digitais para anotações.</li>
                            <li>Certifique-se de que todos os membros da equipe estejam familiarizados com as métricas
                                da sprint, como a velocidade da equipe e o burndown chart.</li>
                            <li>Peça aos membros da equipe que compartilhem suas percepções e feedbacks sobre a sprint.</li>
                            <li>Documente as principais conclusões, insights e ações em um quadro ou ferramenta digital.</li>
                        </ul><br>
                    </li>

                    <li>Identifique temas e tendências:

                        Analise as informações coletadas e agrupe temas e tendências comuns. Isso ajudará a identificar áreas de foco.</li><br>
                    <li>Priorize as melhorias:

                        Com a equipe, determine quais melhorias são mais importantes e quais têm o maior impacto na próxima sprint.</li><br>
                    <li>Defina ações concretas:
                        <ul>
                        <li>Juntamente com a equipe, defina ações específicas para abordar os problemas identificados e implementar melhorias.</li>
                        <li>Atribua responsabilidades para garantir que as ações sejam executadas.</li>         
                        </ul></li><br>
                        <li>Acompanhe as ações:

                            Durante a próxima sprint, monitore o progresso das ações definidas na retrospectiva e faça ajustes conforme necessário.</li>
                </ol>
                </p><br>
        </div>


        <div class="container--imghome">
            <img src="../static/img/reviewmeeting.png.png" style="max-width: 70%;">
        </div><br><br>

        <div class="container--txthome">
        <p>
            É a reunião de “Feedback” das funcionalidades introduzidas durante a Sprint a pedido do cliente, tendo em sua participação o time todo. (PO, Scrum Master, Desenvolvedores e clientes) tendo como sua duração 4 horas. As tarefas feitas são explicadas ao cliente e “StakeHolders” pelo “Product Owner” e também podem ser apresentados pelo time de desenvolvedores.
            Sendo assim, seu resultado será um backlog de produto revisado para as próximas Sprints.

        </p>
        </div>


    <!--Gambiarra pra dar espaço-->
    <br><br>
    <!--rodapé-->
    <div class="container--imghome">
        <img src="../static/img/End-Line-Text.png">
    </div>
    <div class="rodape"></div>

    </main>
</body>
</html>